#includeheader {
   height:30px;
   margin: 0 auto;
   
}

#includeheader li {
   list-style: none; 

}

#includeheader {
   height:30px;
   margin: 10px auto;
   
}

#includeheader li {
   list-style: none; 
    color: white;
    float: right;
    margin: 10px;
}

#includeheader ul li a {
   color: white;
   margin: 5px;
   padding: 10px;
}
