
#reservebtn{
	margin: 10px;
}

#reserveselectbtn a{
	margin: 10px;
	
}

#reservejoin a{
	float: none;
}

#dateName {
	margin-top:50px;
}

#btnreserve {
	margin-top:20px;
}
#adminreserve a{
	mrgin-top: 50px;
}



          
